body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
}

#map {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.title {
	position: absolute;
  font-size: 88px;
  color: #333;
  text-transform: uppercase;
  z-index: 100;
  font-weight: bold;
  top: 100px;
  left: 100px;
}

.search-container {
	position: absolute;
  width: 400px;
  height: 60px;
    background-color: #454E53;
    z-index: 100;
    top: 230px;
    margin-bottom: 10px;
    left: 100px;
    border-radius: 30px;
    display: flex;
}

.search-container input:focus {
	outline: none;
}

.search {
	flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.search-container input {
	flex-grow: 1;
    font-size: 25px;
    background-color: transparent;
    border: none;
    color: white;
}

.search i {
	font-size: 25px;
    color: white;
}

.store-list-container {
	position: absolute;
    background: white;
    width: 400px;
    z-index: 100;
    top: 320px;
    left: 100px;
    border-radius: 30px;
    bottom: 20px;
    display: flex;
}

.store-address {
	font-size: 21px;
    color: #514C4C;
    margin-top: 30px;
}

.store-phone-number {
	color: #B5ADAD;
    margin-top: 15px;
    margin-bottom: 15px;
}

.store-number {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    background-color: #454E53;
    color: #B5ADAD;
    justify-content: center;
    border-radius: 50%;
}

.store-address span {
	display: block;
}

.store-container-background {
	display: flex;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 18px;
    padding-left: 8px;
    padding-right: 8px;

}

.store-container-background:hover {
    background-color: #ccc;


}

.stores-list {
	padding-left: 20px;
	padding-right: 20px;
	overflow-y: scroll;
	flex-grow: 1;
}

.store-info-container {
	flex-grow: 1;
}

.store-container {
     border-bottom: 1px solid #979797;
     cursor: pointer;
}

.store-number-container {
	display: flex;
	align-items: center;
}

